<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Check out these Animals!</h1>
    <p>click animal to see more</p>
    <% for (let a = 0; a < animals.length; ++a) { %>
        <div>
            <a href="/animals/<%= animals[a]._id %>">
                <%= animals[a].species %>
            </a>
            
            <form action="/animals/<%= animals[a]._id%>/?_method=DELETE" method="post">
                <input type="submit" value="Remove Animal">
            </form>
            <a href="/animals/edit/<%= animals[a]._id %>/">Edit <%= animals[a].species %></a>
        </div>
   <% } %>
</body>
</html>